body {
	top: 0px;
	vertical-align: top;
	/*background-image:#000000;*/
	FONT-SIZE: 9pt;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	margin-top: 0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
}

input {
	font-size: 9pt;
	color: #666666;
	text-decoration: none;
	background-color: #EFEFEF;
	padding: 1px;
	border: 1px inset;
}

select {
	font-size: 9pt;
	color: #666666;
	text-decoration: none;
	background-color: #EFEFEF;
	padding: 1px;
	border: 1px inset;
}

radioBox {

}
textarea {
        font-size: 9pt;
	color: #666666;
	text-decoration: none;
	background-color: #F3F3F3;
	border: 1px inset;
}

checkBox {
        font-size: 9pt;
	text-decoration: none;
}

input.button {
	font-size: 10pt;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #BCA515;
	border: 1px outset;
	font-weight: bold;

}
.bigTitle{
	border: thin solid #FFFFFF;
	background-color: #F1EFEF;
	font-size: 16pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #333333;
	text-align: center;
	width: 100%;
}
.tableOut {
	clear: none;
	float: none;
	width: 100%;
	border:0 #FFFFFF;
	background-position: center;
}

.tableFunction {
	width: 100%;
	border: thin solid #DFDFDF;
	background-color: #FFFFFF;
	font-size: 9pt;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	font-variant: normal;
	color: #333333;
	text-align: right;
}

.tableList {
	width: 100%;
	background-color: #FFFFFF;
}
.tableDF {
	width: 100%;
	background-color: #DFDFDF;
	border: thin solid #DFDFDF;
	font-size: 11pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: black;
	text-align: left;
	vertical-align: middle;
}
.tableDF textarea {
    BORDER-BOTTOM: #000000 0px solid;
    BORDER-LEFT: #000000 0px solid;
    BORDER-RIGHT: #000000 0px solid;
    BORDER-TOP: #000000 0px solid;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 11pt;
    TEXT-DECORATION: none;
    WIDTH:100%;
    COLOR: blue;
}
.tableDF input {
    background-color: #ffffff;
    BORDER-BOTTOM: #000000 0px solid;
    BORDER-LEFT: #000000 0px solid;
    BORDER-RIGHT: #000000 0px solid;
    BORDER-TOP: #000000 0px solid;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 11pt;
    TEXT-DECORATION: none;
    /*WIDTH:100%;*/
    COLOR: blue;
}

.tablePage {
	width: 100%;
	background-color: #DFDFDF;
	border: thin solid #DFDFDF;
	font-size: 9pt;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-align: center;

}

.tablePage a{
	color:#333333;
	font-size: 9pt;
	text-decoration:none;
}
.tablePage a:hover {
	color:#336600;
	font-size: 9pt;
	text-decoration: underline;
}

.tableTree{
	width: 100%;
	font-size: 9pt;
	line-height: 15px;
	font-weight: bold;
}
.tableTree tr{
	font-size: 9pt;
}
.tableTree td{
	font-size: 9pt;
}
.tableTree a{
	color:#333333;
	font-size: 9pt;
	text-decoration:underline;
}
.tableTree a:hover {
	color:#336600;
	font-size: 9pt;
	text-decoration: underline;
}

.tableLocal{
	width: 100%;
	font-size: 9pt;
	line-height: 15px;
	font-weight: bold;
        table-layout:fixed
}
.tableLocal tr{
	border: thin solid #FFFFFF;
	/*background-color:expression("#F1EFEF,#EEE000".split(",")[rowIndex%2]);*/
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-align: center;
}
.tableLocal td{
    border: thin solid #FFFFFF;
	background-color: #F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-align: center;
        weight: 16.7%;
        word-break: break-all;
}
.tableLogin{
	font-size: 9pt;
}
.tableCopyright {
	clear: none;
	float: none;
	width: 497px;
	background-position: center;
	border: thin solid #BBBBBB;
	text-align: center;


}

.trTitle {
	background-color: #CCCCCC;
	font-size: 9pt;
	font-style: normal;
	line-height: 18px;
	font-weight: bold;
	font-variant: normal;
	color: #333333;
	text-align: center;
}

.trValue {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-align: center;
}
.trValue2002 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #9999FF;
	text-align: center;
}
.trValue2003 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #666633;
	text-align: center;
}
.trValue2004 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #339966;
	text-align: center;
}
.trValue2005 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #0066FF;
	text-align: center;
}
.trValue2006 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #66FF00;
	text-align: center;
}
.trValue2007 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000033;
	text-align: center;
}
.trValue2008 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #CC9900;
	text-align: center;
}
.trValue2009 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #6600FF;
	text-align: center;
}
.trValue2010 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #993333;
	text-align: center;
}
.trValue2011 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF3300;
	text-align: center;
}
.trValue2012 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #993300;
	text-align: center;
}
.trValue2013 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF9900;
	text-align: center;
}
.trValue2014 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #999900;
	text-align: center;
}
.trValue2015 {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFF00;
	text-align: center;
}
.trValue a{
	color:#0000FF;
	font-size: 9pt;
	text-decoration:none;
}
.trValue a:hover {
	color:#336600;
	font-size: 9pt;
	text-decoration: underline;
}
.trValueStatus {
	border: thin solid #FFFFFF;
	
	background-color:#F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF0000;
	text-align: center;
	
	
}
.trValueSingle {
}

.trValueDouble {
}

.tdTitle {
    background-color: #CCCCCC;
	font-size: 9pt;
	font-style: normal;
	line-height: 18px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-align: center;
}

.tdValue {
    border: thin solid #FFFFFF;
	background-color: #F1EFEF;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-align: left;
}
.tdValue a{
	color:#333333;
	font-size: 9pt;
	text-decoration:none;
}
.tdValue a:hover {
	color:#336600;
	font-size: 9pt;
	text-decoration: underline;
}
.frameControlBarNavPoint {
	COLOR: black; CURSOR: hand; FONT-FAMILY: Webdings; FONT-SIZE:5pt
}
.tdImg img{
cursor: pointer;
}
.style_control_submit {
	FONT: 12px 宋体;
	HEIGHT: 22px;
	BACKGROUND-COLOR: #E2FADC;
	
	width:49px; 
	height:25px;  
	border:0;
	background-image: url(../images/lib/button/button0007_2.gif);
	background-repeat: repeat-x;
}
.style_control_query {
	FONT: 12px 宋体;
	HEIGHT: 22px;
	BACKGROUND-COLOR: #E2FADC;
	
	width:49px; 
	height:25px;  
	border:0;
	background-image: url(../images/lib/button/button0005_2.gif);
	background-repeat: repeat-x;
}
.style_control_back {
	FONT: 12px 宋体;
	HEIGHT: 22px;
	BACKGROUND-COLOR: #E2FADC;
	
	width:49px; 
	height:25px;  
	border:0;
	background-image: url(../images/lib/button/button0006_1.gif);
	background-repeat: repeat-x;
}